{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/accueil.css') }}"/>

<h1>Charte de Protection des Données Personnelles</h1>

{% endblock %}