{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/mentions.css') }}"/>
<div class="body-content">
    <h1>Mentions légales</h1>
    <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la 
    confiance en l'économie numérique, il est précisé aux utilisateurs du site garagespp 
    l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
    </p>
    <h2>Edition du site</h2>
    <p>Le présent site, accessible à l’URL www.garagespp.fr (le « Site »), est édité par :<br/>

    STOP PARE-BRISE & PNEUS , société au capital de 10000 euros, inscrite au R.C.S. de BOBIGNY 
    sous le numéro Bobigny B 893 023 218, dont le siège social est situé au 178 BOULEVARD ROBERT BALLANGER 93420  VILLEPINTE, 
    représenté par Tarik CHEMLALI dûment habilité.<br/>

    Le numéro individuel TVA de l’éditeur est : FR88893023218.
    </p>
    <h2>Hébergement</h2>
    <p>Le Site est hébergé par la société Infomaniak, situé Rue Eugène-Marziano 25, 1227 Genève, Suisse, 
    (contact téléphonique ou email : (+41) 22 820 35 44).
    </p>
    <h2>Directeur de publication </h2>
    <p>Le Directeur de la publication du Site est Tarik CHEMLALI .</p>
    <h2>Nous contacter </h2>
    <p>Par téléphone : +33171826921 <br/>
    Par email : spp93420@gmail.com <br/>
    Par courrier : 178 BD ROBERT BALLANGER 93420 VILLEPINTE <br/>
    </p>
    <h2>Données personnelles</h2>
    <p>Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, 
    disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général 
    sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).<br/>

    Génération des mentions légales par Legalstart.
    </p>
</div>
   
{% endblock %}