<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}"/>

<footer>
    <div>
        <p>Garage SPP</p>
        <address>
        178 Boulevard Robert Ballanger <br/>
        93420 Villepinte <br/>
        <a href="mailto:bla@bla.com">chalala@lalala.com</a><br>
        <a href="tel:+331111111111">0111111111</a>
        </address>
    </div>
    <a href={{path("app_charte")}}>Charte de Protection des Données Personnelles</a><br>
    <a href={{path("app_mentions")}}>Mentions légales</a>
</footer>