<h1>Confirmation de réservation</h1>
<p>Madame, Monsieur {{ firstname }} {{ laststname }}, votre réservation pour un changement de {{ type }} est validée !</p>
<p>Date de réservation : {{ date_res |date('d-m-Y H:i') }}</p>
<p>Merci d'apporter les documents suivants le jour des réparations :</p> 
<ul> 
    <li>1. Carte grise </li>
    <li>2. Assurance (carte verte) <br/>
</ul>
<p>En vous remerciant par avance de votre confiance.</p> 
    <p>Cordialement,</p> 
    <p>Autoparebrise75</p> 
    <p>01.11.11.11.11</p> 

