<h1>Confirmation de réservation</h1>
<p>Madame, Monsieur {{ firstname }} {{ lastname }} a validé une réservation
pour un remplacement de {{ type }}.</p>
<p>Date de réservation : {{ date_res |date('d-m-Y H:i') }}</p>